.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.cache/
dist/
build/
.parcel-cache/
.env
.env.*
!.env.example
*.tmp
*.bak
.vercel
.netlify
